{% extends 'index.html' %}
{% block title %}Eliminar Canción{% endblock %}

{% block content %}
<div class="card card-form mt-5 text-center">
    <h3 class="mb-4">Eliminar Canción</h3>
    <p>¿Seguro que quieres eliminar la canción "{{ cancion.titulo }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sí, eliminar</button>
        <a href="{% url 'cancion_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}